body {
  width: 430px;
  height: 430px;
  background: #ffffff;
  margin: 0;
  /* box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.05); */
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
